<h1>Coin look up</h1>

<%= form_tag home_lookup_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Coin symbol here', size: 50%>
    <%= submit_tag 'Lookup'%>
<%end%>

<%= @symbol %>

<% if @symbol %>
    <% for table in @coins %>
        <% if table['symbol'] == @symbol %>
            <%= table['name'] %>: $<%= table["price_usd"] %><br>
            Rank: <%= table['rank'] %>
            
        <% end %>
    <% end %>
<% else %>
    <p>You forgot to type the currency symbol!</p>
<%end%>